* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "nav"
    "main"
}

body > nav {
  grid-area: nav;
  background-color: lightblue;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

nav > img {
  width: 34px;
}

.nav-name {
  margin-right: auto;
  font-weight: bold;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  color: rgb(62, 58, 58);
  border-radius: 5px;
}

nav > a:hover {
  color: white;
  background-color: darkblue;
}

nav > a.active {
  color: white;
}

body > main {
  margin-top: 10px;
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 30vw);
}

.grid-item {
  background-color: lightblue;
  width: 30vw;
  height: 22.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.grid-item > img {
  max-height: 85%;
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.grid-link {
  color: rgb(62, 58, 58);
  text-decoration: none;
}

.grid-link:hover {
  color: white;
}

.grid-title {
  margin: 0.6vh auto;
}

.sight-grid {
  margin: 3vh 0;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 40vw);
}

.sight-grid-item {
  display: flex;
  flex-direction: column;
  /* margin: 2vh 0; */
}

.sight-grid-item > img {
  width: 100%;
  margin: 0 0 2vh;
  border-radius: 10px;
}

.sight-grid-text {
  padding: 2vh;
  background-color: lightblue;
  border-radius: 10px;
}

.comments-title {  
  background-color: lightblue;
  border-radius: 10px;
  padding: 1vh;
  text-align: center;
}

.sight-comment {
  margin: 1vh 0;
  padding: 1vh;
  border: solid lightblue 5px;
  border-radius: 10px;
}

.sight-comment:hover {
  background-color: rgba(207, 231, 235, 0.554);
}

.sight-comment-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.comment-user {
  margin-right: auto;
  display: flex;
  align-items: center;
}

.comment-user > img {
  border-radius: 50%;
  height: 3vw;
  margin-right: 1vw;
}

.sight-comment > p {
  margin: 0.4vh 0 0;
}

.btn {
  background-color: lightblue;
  color: rgb(62, 58, 58);
  border: lightblue;
}

.btn:hover {
  background-color: darkblue;
  color: white;
}

#delete-comment {
  font-size: 0.6em; 
  font-weight: bolder;
  margin-left: 1em;
  padding: 0.5em 1em;
}

.student-name {
  position: relative;
  top: -5px;
}

.collection-item form {
  margin-top: -5px;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}